{% extends "base.html" %}{% block title %}Developer{% endblock %}{% block content %}
<div class="full-photo"><img src="{{url_for('static',filename='images/dev.jpeg')}}"><div class="dev-card"><img src="{{url_for('static',filename='images/honey.jpeg')}}"><h2>Developer Profile</h2><pre>Name       : Neev Borana

Course     : B.Tech (AI & ML)

College    : St. John College of
             Engineering and Management

Project    : Face Recognition
             Attendance System

Role       : Python Developer

Skills     : Python, OpenCV,
             Tkinter, MySQL

Email      : 124neev6063@sjcem.edu.in</pre><b>"Building Smart Solutions with AI"</b></div></div>{% endblock %}